{{category-selector categories=categories}}
{{#if showSave}}
  <div>
    {{d-button class="ok no-text" action="saveCategories" icon="check"}}
    {{d-button class="cancel no-text" action="restoreCategories" icon="times"}}
  </div>
{{/if}}
