<section class="field">
  <label>{{i18n 'category.moderators.label'}}</label>
  {{user-selector id="category-moderators"
                  tabindex="1"
                  group='moderators'
                  usernames=category.custom_fields.category_moderators}}
</section>
